/* AngularJS App Requirements */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

#startup-loading .fa {
    font-size: 8em;
    margin-top: 26%;
}

#loading .fa {
    font-size: 8em;
    margin-top: 146%;
}

#loading {
    text-align: center;
    line-height: 100%;

    position: absolute;
    z-index: 1050;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.7)), color-stop(100%, rgba(0, 0, 0, 0.9)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3000000', endColorstr='#e6000000', GradientType=1);
}

#startup-loading {
    text-align: center;
    line-height: 100%;

    position: fixed;
    z-index: 1150;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.7)), color-stop(100%, rgba(0, 0, 0, 0.9)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3000000', endColorstr='#e6000000', GradientType=1);
}

#startup-loading .animation {
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    position: absolute;
    left: 50%;
    top: 50%;
}

#loading .animation {
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.animate-enter {
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all;
    opacity: 0;
}

.animate-enter.animate-enter-active {
    opacity: 1;
}

/** CLICK LIST */

.clicks-list {
    margin: 0 -10px 20px;
    overflow: hidden;
}

.clicks-list-items {
    list-style: outside none none;
    padding-left: 0;
}

.clicks-list li {
    background-color: #f9f9f9;
    border: 1px solid #fff;
    float: left;
    font-size: 10px;
    height: 115px;
    line-height: 1.4;
    padding: 10px;
    text-align: center;
    width: 25%;
    -webkit-transition: all 2.5s ease-in-out;
    -moz-transition: all 2.5s ease-in-out;
    transition: all 2.5s ease-in-out;
}

.clicks-list .glyphicon {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.clicks-list .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}

.clicks-list li:hover {
    background-color: #563d7c;
    color: #fff;
}

@media (min-width: 768px) {
    .clicks-list {
        margin-left: 0;
        margin-right: 0;
    }

    .clicks-list li {
        font-size: 12px;
        width: 12.5%;
    }
}

/* AngularJS Animation */

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear 1.2s;
    transition:all linear 1.2s;
}
.animate-repeat.ng-enter-stagger,
.animate-repeat.ng-leave-stagger,
.animate-repeat.ng-move-stagger {
    /* 700ms will be applied between each sucessive enter operation */
    -webkit-transition-delay:0.7s;
    transition-delay:0.7s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
}

/* DRAFT: http://output.jsbin.com/eYiDIKO/4#/ */

#click-list {
    position: absolute;
    width: 100%;
    list-style-type: none;
    padding-left: 0;
}

#click-list li {
    position: absolute;
    height: 70px;
    width: 70px;
    background: #ddd;
    -webkit-transition: all 2.5s ease-in-out;
    -moz-transition: all 2.5s ease-in-out;
    transition: all 2.5s ease-in-out;
}
