
@font-face {
    font-family: Freakshow;
    src: url(/bundles/bingo/fonts/Freakshow.woff);
}

body{
    padding:0px;
    margin:0px;
    border:0px;
}

table{
    padding:5px;
    border-spacing: 5px;
    border:0px;
}

td{
    width:100px;
    height:100px;
    vertical-align:bottom;
    border:0px;
    /*	background: url(/bundles/bingo/img/bingo_background.svg); */
    background-color:#dfc084;
    /* background-color:#cccccc; */
    border-radius: 3%;
}

#mainContainer{
    width: 1095px;
    overflow: hidden;
    margin-bottom: 0px;
}

.resize{

    margin:0 auto;
}

#textseite{
    width:500px;
    margin:0 auto;
    /*	background-color:#F63D31; */
    font-size:12px;
    text-align:left;
    vertical-align:top;
    background-color:#FFFFFF;
    padding-left: 35px;
}

#text{
    width:230px;
    padding:10px;
    vertical-align:top;
}

#bignum{
    border:0px;
    padding-top:12px;
    border-spacing: 3px;
    margin:0px;
    vertical-align:top;
    border:0px;
    text-align: right;
    background-color:#FFFFFF;
    background-size: 75px 75px;
}

#bignum td{
    background-size: 75px 75px;
    background-repeat:no-repeat;
    width:75px;
    height:75px
}

#bignum table{
    border:0px;
    padding:0px;
    border-spacing: 0px;
    margin:0px;
    width:562px
    height:750px;
}

#bignum img{
    vertical-align: bottom;
    width:75px;
    height:75px;
    transition: all 1.5s;
}

#fattext{
    vertical-align:top;
    font-family:Freakshow;
    font-size:13px;
    height:75px;
    border:0px;
    text-align: center;
    vertical-align: middle;
    background-color:#FFFFFF;
    vertical-align: bottom;
}

#logoverti{
    padding:0px;
    padding-top: 5px;
    border-spacing: 0px;
    border:0px;
    background-color:#d40000;
    padding-bottom: 10px;
    width:115px;
}

#logoverti img{
    vertical-align: bottom;
    width:100px;
    height:100px;
    transition: all 1.5s;
}

#logoverti td{
    padding-left:10px;
    padding-top: 5px;
    padding-bottom: 0px;
    width:100px;
    height:100px;
    vertical-align:bottom;
    border:0px;
    /*	background: url(/bundles/bingo/img/bingo_background.svg); */
    background-color:#d40000;
}

#logohori{
    padding:0px;
    border-spacing: 0px;
    border:0px;
}

#logohori img{
    vertical-align: bottom;
    width:120px;
    height:120px;
    transition: all 1.5s;
}

#logohori table{
    padding:0px;
    border-spacing:0px;
    width: 420px;
    height:100px;
    vertical-align:bottom;
    border:0px;
    /*	background: url(/bundles/bingo/img/bingo_background.svg); */
    background-color:#FFFFFF;
}

#logohori td{
    padding:0px;
    padding-bottom: 5px;
    padding-left: 20px;
    width: 120px;
    height:100px;
    vertical-align:middle;
    border:0px;
    /*	background: url(/bundles/bingo/img/bingo_background.svg); */
    background-color:#FFFFFF;
    font-family: Freakshow; font-size: 65pt;
}

ul{
    padding-left:10px;
    margin-top:-2px;
    margin-bottom:-8px;
    border:0px;
}

li{
    padding:4px;
    padding-bottom:6px;
    border:0px;
    font-family: Freakshow; font-size: 17pt;
}

#BingoBody{
    width:750px;
    background-color:#d40000;

}

#BingoBody img{
    vertical-align: bottom;
    width:100px;
    height:100px;
    transition: all 1.5s;
}

#BingoBody td{
    padding:0px;
    cursor:pointer;
}

#BuzzwordsBody {
    padding:0px;
    padding-top:-10px;
    border-spacing: 2px;
    border:0px;
    width: 188px;
    /*	background-color:#DDDDDD; */
}

#BuzzwordsBody td{
    padding:0px;
    cursor:pointer;
    height:65px;
    width:65px;
    border-radius: 7%;
}

#BuzzwordsBody img{
    vertical-align: bottom;
    width:65px;
    height:65px;
    transition: all 1.5s;
}

#scoreback{
    background-image: url(/bundles/bingo/img/gold.svg);
    background-repeat: no-repeat;
    background-size: 198px 100px;
}

#start div{
    background-image: url(/bundles/bingo/img/stern.svg);
    background-repeat: no-repeat;
    background-size: 120px;
    width: 120px;
    padding-left: 0px;
}


#reset div{
    width: 57px;
    padding:0px;
    padding-bottom: 0px;
    padding-right: 15px;
    height:120px;
    vertical-align:middle;
    border:0px;
    /*	background: url(/bundles/bingo/img/bingo_background.svg); */
}

#counter{
    width: 120px; padding-left: 30px;
    padding:0px;
    padding-bottom: 0px;
    padding-right: 0px;
    height:120px;
    vertical-align:middle;
    border:0px;
    /*	background: url(/bundles/bingo/img/bingo_background.svg); */
    text-align:left;
    font-family: Freakshow; font-size: 30pt;
}

#bingolist td{
    padding:0px;
    padding-left: 15px;
    padding-right: 0px;
    margin-top:-15px;
    width: 500px;
    vertical-align:top;
    border:0px;
    /*	background: url(/bundles/bingo/img/bingo_background.svg); */
    background-color:#FFFFFF;
    font-family: Freakshow; font-size: 12pt;
}

#card{
    background-color:#d40000;
    padding:0px;
    border:0px;
    border-spacing:0px;
    float: left; 
    overflow: hidden; 
    margin-bottom: 0px;
/*    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.45); */
}

.gelbe_zelle {
    transition: background-color 0.8s;
    background: #fcfd00;
}
.gruene_zelle {
    transition: background-color 0.8s;
    background: #00FF00;
}
.braune_zelle {
    transition: background-color 0.8s;
    background: #dfc084;
}
.orange_zelle {
    transition: background-color 0.8s;
    background: #ffb20d;
}
.rote_zelle {
    transition: background-color 0.8s;
    background: #F63D31;
}

.cell:hover:before {
    opacity: 0.85;
}

.cell:before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    transition: all 0.2s;
    opacity: 0;
    background: url(/bundles/bingo/img/kreuz.svg);
    background-size: 100px 100px;
}

.missing:hover:before {
    opacity: 0.85;
}

.missing:before {
    content: "";
    position: absolute;
    height: 65px;
    width: 65px;
    transition: all 0.2s;
    opacity: 0;
    background: url(/bundles/bingo/img/kreuz.svg);
    background-size: 65px 65px;
}
.mouseoverbingo:hover:before {
    opacity: 0.85;
}

.mouseoverbingo:before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    transition: all 0.2s;
    opacity: 0;
    background: url(/bundles/bingo/img/bulletholes.svg);
    background-size: 100px 100px;
}

.mouseoverbuzz:hover:before {
    opacity: 0.85;
}

.mouseoverbuzz:before {
    content: "";
    position: absolute;
    height: 75px;
    width: 75px;
    transition: all 0.1s;
    opacity: 0;
    background: url(/bundles/bingo/img/bulletholes.svg);
    background-size: 75px 75px;
}

.question:before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    transition: background-color 0.01s;
    opacity: 0.95;
    background: url(/bundles/bingo/img/fragezeichen.svg);
    background-size: 100px 100px;
}

.buzzwordTextFilled{
    position: fixed;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#FFFFFF;
    border-radius: 2%;
    opacity: 0.96;
/*    transition: opacity 0.3s; */
    font-family: Freakshow; font-size: 20pt;
    max-width:350px;
    min-width:0px;
/*    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    -webkit-animation: pulse 2s cubic-bezier(0.2, 0, 0, 1);
    -moz-animation: pulse 2s cubic-bezier(0.2, 0, 0, 1);
    -ms-animation: pulse 2s cubic-bezier(0.2, 0, 0, 1);
    animation: pulse 2s cubic-bezier(0.2, 0, 0, 1); */
}

.buzzwordTextFilled img{

    padding-right: 15px;
}

.buzzwordTextEmpty{
    position: fixed;
    padding: 15px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2%;
    opacity: 0;
    background-color:#FFFFFF;
/*    transition: opacity 0.2s; */
    font-family: Freakshow; font-size: 20pt;
    max-width:350px;
}

#buzzwordText{
    position: fixed;
    background-color:#FFFFFF;
}

.pulse-button {
    position: relative;
    width: 100px;
    height: 100px;
    border: none;
    box-shadow: 0 0 0 0 rgba(255, 178, 13, 1);
    border-radius: 3%;
    cursor: pointer;
    -webkit-animation: pulse 1.5s infinite cubic-bezier(0.1, 0, 0, 1);
    -moz-animation: pulse 1.5s infinite cubic-bezier(0.1, 0, 0, 1);
    -ms-animation: pulse 1.5s infinite cubic-bezier(0.1, 0, 0, 1);
    animation: pulse 1.5s infinite cubic-bezier(0.1, 0, 0, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 25px rgba(252, 253, 0, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 25px rgba(252, 253, 0, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 25px rgba(252, 253, 0, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 25px rgba(252, 253, 0, 0);}}
