
@font-face {
    font-family: Freakshow;
    src: url(/bundles/bingo/fonts/Freakshow.woff);
}

table{
    padding:5px;
    border-spacing: 5px;
    border:0px;
}

td{
    padding:0px;
    width:100px;
    height:100px;
    vertical-align:bottom;
    border:0px;
    /*	background: url(/bundles/bingo/img/bingo_background.svg); */
    background-color:#dfc084;
    border-radius: 3%;
}

.resize{

    margin:0 auto;
}

#textseite{
    width:440px;
    margin:0 auto;
    /*	background-color:#F63D31; */
    font-size:14px;
    text-align:left;
    vertical-align:top;
    background-color:#FFFFFF;
    padding-left: 25px;
}

#text{
    width:230px;
    padding:10px;
    vertical-align:top;
}

#bignum{
    vertical-align:top;
    width:100px;
    height:100px;
    border:0px;
    text-align: right;
    background-color:#FFFFFF;
}

#bignum img{
    vertical-align: bottom;
    width:100px;
    height:100px;
}

#fattext{
    vertical-align:top;
    font-family:Freakshow;
    font-size:18px;
    width:100px;
    height:130px;
    border:0px;
    text-align: center;
    background-color:#FFFFFF;
    vertical-align: bottom;
}

#logoverti{
    padding:0px;
    padding-top: 5px;
    border-spacing: 0px;
    border:0px;
    background-color:#d40000;
    padding-bottom: 10px;
    width:115px;
}

#logoverti img{
    vertical-align: bottom;
    width:100px;
    height:100px;
}

#logoverti td{
    padding-left:10px;
    padding-top: 5px;
    padding-bottom: 0px;
    width:100px;
    height:100px;
    vertical-align:bottom;
    border:0px;
    /*	background: url(/bundles/bingo/img/bingo_background.svg); */
    background-color:#d40000;
}

#logohori{
    padding:0px;
    border-spacing: 0px;
    border:0px;
}

#logohori img{
    vertical-align: bottom;
    width:120px;
    height:120px;
}

#logohori table{
    padding:0px;
    border-spacing:0px;
    width: 420px;
    height:100px;
    vertical-align:bottom;
    border:0px;
    /*	background: url(/bundles/bingo/img/bingo_background.svg); */
    background-color:#FFFFFF;
}

#logohori td{
    padding:0px;
    padding-bottom: 5px;
    padding-left: 20px;
    width: 120px;
    height:100px;
    vertical-align:middle;
    border:0px;
    /*	background: url(/bundles/bingo/img/bingo_background.svg); */
    background-color:#FFFFFF;
    font-family: Freakshow; font-size: 65pt;
}

ul{
    padding-left:5px;
    border:0px;
}

li{
    padding:5px;
    padding-bottom:0px;
    border:0px;
}

#BingoBody{
    width:750px;
    background-color:#d40000;
}

#BingoBody img{
    vertical-align: bottom;
    width:100px;
    height:100px;
}


#BuzzwordsBody {
    padding:0px;
    border-spacing: 2px;
    border:0px;
    width: 430px;
    /*	background-color:#DDDDDD; */
}

#BuzzwordsBody td{
    height:75px;
    width:75px;
    border-radius: 6%;
}

#BuzzwordsBody img{
    vertical-align: bottom;
    width:75px;
    height:75px;
}

#scoreback{
    background-image: url(/bundles/bingo/img/gold.svg);
    background-repeat: no-repeat;
    background-size: 198px 100px;
}

#start div{
/*    background-image: url(/bundles/bingo/img/stern.svg); */
    background-repeat: no-repeat;
    background-size: 120px;
    width: 120px;
    padding-left: 0px;
}


#reset div{
    width: 57px;
    padding:0px;
    padding-bottom: 0px;
    padding-right: 15px;
    height:120px;
    vertical-align:middle;
    border:0px;
    /*	background: url(/bundles/bingo/img/bingo_background.svg); */
}

#counter{
    width: 120px; padding-left: 30px;
    padding:0px;
    padding-bottom: 0px;
    padding-right: 0px;
    height:120px;
    vertical-align:middle;
    border:0px;
    /*	background: url(/bundles/bingo/img/bingo_background.svg); */
    text-align:left;
    font-family: Freakshow; font-size: 30pt;
}

#bingolist td{
    padding:0px;
    padding-left: 25px;
    padding-right: 0px;
    width: 435px;
    height:100px;
    vertical-align:middle;
    border:0px;
    /*	background: url(/bundles/bingo/img/bingo_background.svg); */
    background-color:#FFFFFF;
    font-family: Freakshow; font-size: 22pt;
}

#card{
    background-color:#d40000;
    padding:0px;
    border:0px;
    border-spacing:0px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.45);
}

.gelbe_zelle {
    transition: background-color 0.8s;
    background: #fcfd00;
}
.gruene_zelle {
    transition: background-color 0.8s;
    background: #00FF00;
}
.braune_zelle {
    transition: background-color 0.8s;
    background: #dfc084;
}
.orange_zelle {
    transition: background-color 0.8s;
    background: #ffb20d;
}
.rote_zelle {
    transition: background-color 0.8s;
    background: #F63D31;
}



.question:before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    opacity: 0.95;
    background: url(/bundles/bingo/img/fragezeichen.svg);
    background-size: 100px 100px;
}

.buzzwordTextFilled{
    position: fixed;
    left: 880;
    top: 15;    
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color:#ffb20d;
    border-radius: 2%;
    opacity: 0.96;
    font-family: Freakshow; font-size: 22pt;
    max-width:430px;
    min-width:0px;
    box-shadow: 0 0 0 0 rgba(255, 178, 13, 1);
    -webkit-animation: pulse 1s 10 cubic-bezier(0.2, 0, 0, 1);
    -moz-animation: pulse 1s 10 cubic-bezier(0.2, 0, 0, 1);
    -ms-animation: pulse 1s 10 cubic-bezier(0.2, 0, 0, 1);
    animation: pulse 1s 10 cubic-bezier(0.2, 0, 0, 1); 
}

.buzzwordTextBuzz{
    position: fixed;
    left: 880;
    top: 15;    
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color:#ffb20d;
    border-radius: 2%;
    opacity: 0.96;
    font-family: Freakshow; font-size: 26pt;
    max-width:430px;
    min-width:0px;
    transition: all 1.8s;
    box-shadow: 0 0 0 0 rgba(255, 178, 13, 1);
    -webkit-animation: pulse 1s 10 cubic-bezier(0.2, 0, 0, 1);
    -moz-animation: pulse 1s 10 cubic-bezier(0.2, 0, 0, 1);
    -ms-animation: pulse 1s 10 cubic-bezier(0.2, 0, 0, 1);
    animation: pulse 1s 10 cubic-bezier(0.2, 0, 0, 1); 
}


.buzzwordTextBuzz img{

    padding-right: 15px;
}


.buzzwordTextFilled img{

    padding-right: 15px;
}

.buzzwordTextEmpty{
    position: fixed;
    left: 880;
    top: 15;
    padding: 0px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 2%;
    opacity: 0;
    background-color:#FFFFFF;
    transition: background-color 1.8s;
    font-family: Freakshow; font-size: 22pt;
    max-width:430px;
    box-shadow: 0 0 0 0 rgba(255, 178, 13, 1);
}

#buzzwordText{
    position: fixed;
    left: 880;
    top: 0;
    background-color:#FFFFFF;
}

.pulse-button {
    position: relative;
    width: 100px;
    height: 100px;
    border: none;
    box-shadow: 0 0 0 0 rgba(255, 178, 13, 1);
    border-radius: 3%;
    -webkit-animation: pulse 1.5s infinite cubic-bezier(0.1, 0, 0, 1);
    -moz-animation: pulse 1.5s infinite cubic-bezier(0.1, 0, 0, 1);
    -ms-animation: pulse 1.5s infinite cubic-bezier(0.1, 0, 0, 1);
    animation: pulse 1.5s infinite cubic-bezier(0.1, 0, 0, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 25px rgba(252, 253, 0, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 25px rgba(252, 253, 0, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 25px rgba(252, 253, 0, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 25px rgba(252, 253, 0, 0);}}
