.resize{
  width:750px;
  margin:0 auto;
  background-color:#F63D31;
  -webkit-box-shadow: 7px 10px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 7px 10px 20px 0px rgba(0,0,0,0.75);  
}

#textseite{
  width:750px;
  margin:0 auto;
  background-color:#F63D31;
  font-size:14px;
  text-align:left;
  vertical-align:top;  
}
#text{
  width:230px;
  padding:10px;
  vertical-align:top;
}


table{
  padding:5px;
  border-spacing: 5px;
  border:0px;
}

ul{
  padding-left:15px;
  border:0px;
}

li{
  padding:5px;
  border:0px;
}

img{ 
  vertical-align: bottom;
  width:100px;
  height:100px;
  transition: all 1.5s;
}

.missing:before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
/*  transition: all 0.1s; */
  opacity: 0;
  background: url(../images/kreuz.svg);
  background-size: 100px 100px;
}
.missing:hover:before {
  opacity: 0.75;
}

td{
  padding:0px;
  width:100px;
  height:100px;
  vertical-align:bottom;
  border:0px;
  background-color:#dfc084;
}

h1 a{
  width:750px;
  font-family:arial;
  text-align:center;
  padding:5px;
  color:#FFFFFF;
  background-color:#F63D31;
  border:0px;
}

#BingoBody #BuzzwordsBody{
cursor:pointer;
}

.gelbe_zelle {
   background: #fcfd00; /* Or some other color */
}
.gruene_zelle {
   background: #00FF00; /* Or some other color */
}
.braune_zelle {
   background: #dfc084; /* Or some other color */
}
.rote_zelle {
   background: #F63D31; /* Or some other color */
}
.mouseover_zelle {
   background: #F63D31; /* Or some other color */
}

