{% extends 'base.html.twig' %}

{% block body %}
    <h1><span>Hello {{ name }}!</span> you are running Symfony {{ version }}</h1>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
