{% extends 'BingoBundle::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/bundles/bingo/css/bingoshowview.css">
{% endblock %}

{% block body %}
    <div id="buzzwordText" class="buzzwordTextEmpty"></div>
    <div style="width: 1340px; overflow: hidden; margin-bottom: 0px">
        <div style="float: left; overflow: hidden; margin-bottom: 0px" id="card">
            <div style="width: 110px;  float: left">
                <table id="logoverti">
                    <tr>
                        <td><img src="/bundles/bingo/img/bingo_b.svg"></td>
                    </tr>
                    <tr>
                        <td><img src="/bundles/bingo/img/bingo_i.svg"></td>
                    </tr>
                    <tr>
                        <td><img src="/bundles/bingo/img/bingo_n.svg"></td>
                    </tr>
                    <tr>
                        <td><img src="/bundles/bingo/img/bingo_g.svg"></td>
                    </tr>
                    <tr>
                        <td><img src="/bundles/bingo/img/bingo_o.svg"></td>
                    </tr>
                    <tr>
                        <td><img src="/bundles/bingo/img/dollar_o.svg"></td>
                    </tr>
                    <tr>
                        <td><img src="/bundles/bingo/img/dollar.svg"></td>
                    </tr>
                </table>
            </div>
            <div style="width: 750px; float: left; margin-right: 0px; margin-bottom: 0px" class="resize">
                <table id="BingoBody"></table>
            </div>
        </div>

        <div style="width: 470px; float: left; margin-left: 8px; margin-bottom: 0px" overflow: hidden; class="resize" id="logohori">
            <div style="width: 100%; margin-left: 0px; overflow: visible;">
                <table>
                    <tr>
                        <td id="score">
                            <div style="width: 120px;" id="mischen">&nbsp</div>
                        </td>
                        <td id="reset" class="reset" style="width: 120px;">
                            <div class="reset" style="width: 120px; margin-left: 35px; margin-left: 15px">&nbsp</div>
                        </td>
                        <td id="start" style="width: 120px;">
                            <div id="counter">&nbsp</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div style="margin-left: 870px; margin-bottom: 0px; margin-top: 276px" overflow: visible; class="resize">
            <table id="BuzzwordsBody">
            </table>
        </div>
    </div>
    <div style="width: 110px; float: left;">
        &nbsp
    </div>

    <div style="width: 430px; margin-top: 0px; float: left" overflow: visible; class="resize">
        <table id="bingolist" style="width: 430px;">
            <tr>
                <td id="textseite">
                    <div id="result1">
                        <ul>
                            <li>Die 'c' taste toggelt den erklärbär modus mit details zu den buzzwords.</li>
                            <li>Buzzwords ausschliessen und mischen bis die karte deiner strategie entspricht.</li>
                            <li>Spiel starten und dann ein in der Freakshow gehoertes buzzwords auf der karte markieren!</li>
                            <li>Das buzzword pulsiert dann orange in der karte und zeigt den probabilistischen check an.</li>
                            <li>Zwei Minuten lang wird dann der server gefragt ob genug andere bingo spieler das selbe buzzword in ihrer karte geklickt haben.</li>
                            <li>Ist das der fall, wird das buzzword gelb und zur gewinnermittlung frei gegeben.</li>
                            <li>Hast du dich verklickt oder sind nicht genung andere spieler der meinung das buzzword ist gueltig, erlischt das orange pulsieren nach zwei minuten wieder
                            <li>Erreichte bingos werden gruen angezeigt und dann nach punkten addiert um am ende der sendung gewinner zu ermitteln.</li>
                            <li></li>
                        </ul>
                        <a href="info.html">Infos zur Entstehung dieser Seite</a>
                    </div>
                    <div id="result2"></div>
                    <div id="result3"></div>
                    <div id="result4"></div>
                    <div id="result5"></div>
                    <div id="result6"></div>
                    <div id="result7"></div>
                    <div id="result8"></div>
                    <div id="result9"></div>
                    <div id="result10"></div>
                    <div id="result11"></div>
                    <div id="result12"></div>
                    <div id="result13"></div>
                    <div id="result14"></div>
                    <div id="result15"></div>
                    <div id="result16"></div>
                    <div id="result17"></div>
                    <div id="result18"></div>
                    <div id="result19"></div>
                    <div id="result20"></div>
                    <div id="result21"></div>
                    <div id="result22"></div>
                    <div id="result23"></div>
                    <div id="result24"></div>
                    <div id="result25"></div>
                    <div id="result26"></div>
                    <div id="result27"></div>
                    <div id="result28"></div>
                    <div id="result29"></div>
                    <div id="result30"></div>
                    <div id="result31"></div>
                    <div id="result32"></div>
                    <div id="result33"></div>
                    <div id="result34"></div>
                    <div id="result35"></div>
                    <div id="result36"></div>
                    <div id="result37"></div>
                    <div id="result38"></div>
                    <div id="result39"></div>
                    <div id="result40"></div>
                    <div id="result41"></div>
                    <div id="result42"></div>
                    <div id="result43"></div>
                    <div id="result44"></div>
                    <div id="result45"></div>
                    <div id="result46"></div>
                    <div id="result47"></div>
                    <div id="result48"></div>
                    <div id="result49"></div>
                    <div id="result50"></div>
                    <div id="result51"></div>
                    <div id="result52"></div>
                    <div id="result53"></div>
                    <div id="result54"></div>
                    <div id="result55"></div>
                    <div id="result56"></div>
                    <div id="result57"></div>
                    <div id="result58"></div>
                    <div id="result59"></div>
                    <div id="result60"></div>
                    <div id="result61"></div>
                    <div id="result62"></div>
                    <div id="result63"></div>
                    <div id="result64"></div>
                    <div id="result65"></div>
                    <div id="result66"></div>
                    <div id="result67"></div>
                    <div id="result68"></div>
                    <div id="result69"></div>
                    <div id="result70"></div>
                    <div id="result71"></div>
                    <div id="result72"></div>
                    <div id="result73"></div>
                    <div id="result74"></div>
                    <div id="result75"></div>
                    <div id="result76"></div>
                    <div id="result77"></div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/bingo/js/scriptshowview.js"></script>
    <script type="text/javascript" src="/bundles/bingo/js/winboards.js"></script>
    <script type="text/javascript" src="/bundles/bingo/js/buzzwordtext.js"></script>
{% endblock %}
