#karte{
  width:750px;
  margin:0 auto;
  background-color:#F63D31;
}

#textseite{
  width:750px;
  margin:0 auto;
  background-color:#F63D31;
  font-size:14px
  text-align:left;
  vertical-align:top;  
}
#text{
  width:230px;
  padding:10px;
  vertical-align:top;
}


table{
  padding:5px;
  border-spacing: 5px;
  border:0px;
}

img{ 
  vertical-align: bottom;
  width:100px;
  height:100px;
}

td{
  padding:0px;
  width:100px;
  height:100px;
  vertical-align:bottom;
  border:0px;
  background-color:#dfc084;
}

h1 a{
  width:750px;
  font-family:arial;
  text-align:center;
  padding:5px;
  color:#FFFFFF;
  background-color:#F63D31;
  border:0px;
}

td{
cursor:pointer;
}

